Server/WebClientMVC/Connected Services/SenderServiceReference1/DeliveryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50512/DeliveryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DeliveryService" />
  <xs:element name="AddSender">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DeliveryService" minOccurs="0" name="sender" nillable="true" type="q1:SenderResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSenderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DeliveryService" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q2:ArrayOfSenderResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DeliveryService" minOccurs="0" name="application" nillable="true" type="q3:ApplicationResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddApplicationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllApplications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllApplicationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DeliveryService" minOccurs="0" name="GetAllApplicationsResult" nillable="true" type="q4:ArrayOfApplicationResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCourier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DeliveryService" minOccurs="0" name="courier" nillable="true" type="q5:SenderResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCourierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCourierResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DeliveryService" minOccurs="0" name="application" nillable="true" type="q6:ApplicationResource" />
        <xs:element minOccurs="0" name="deletePerson" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteApplicationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBalanceByUsernameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToBalanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UseVoucher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UseVoucherResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVouchers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVouchersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DeliveryService" minOccurs="0" name="GetAllVouchersResult" nillable="true" type="q7:ArrayOfVoucherResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsedVouchers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsedVouchersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DeliveryService" minOccurs="0" name="GetAllUsedVouchersResult" nillable="true" type="q8:ArrayOfVouchersUsedResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPackages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPackagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DeliveryService" minOccurs="0" name="GetAllPackagesResult" nillable="true" type="q9:ArrayOfPackageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DeliveryService" minOccurs="0" name="model" nillable="true" type="q10:PackageModel" />
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DeliveryService" minOccurs="0" name="delivery" nillable="true" type="q11:DeliveryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPackageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>