Server/WebClientMVC/Connected Services/SenderServiceReference1/DeliveryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DeliveryService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DeliveryService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SenderResource">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PersonResource">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountType" type="xs:int" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Points" type="xs:int" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SenderResource" nillable="true" type="tns:SenderResource" />
  <xs:complexType name="PersonResource">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cpr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonResource" nillable="true" type="tns:PersonResource" />
  <xs:complexType name="ArrayOfSenderResource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SenderResource" nillable="true" type="tns:SenderResource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSenderResource" nillable="true" type="tns:ArrayOfSenderResource" />
  <xs:complexType name="ApplicationResource">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PersonResource">
        <xs:sequence>
          <xs:element minOccurs="0" name="CVPath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GuidLine" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IDPicturePath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YellowCardPath" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApplicationResource" nillable="true" type="tns:ApplicationResource" />
  <xs:complexType name="ArrayOfApplicationResource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicationResource" nillable="true" type="tns:ApplicationResource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicationResource" nillable="true" type="tns:ArrayOfApplicationResource" />
  <xs:complexType name="ArrayOfVoucherResource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VoucherResource" nillable="true" type="tns:VoucherResource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVoucherResource" nillable="true" type="tns:ArrayOfVoucherResource" />
  <xs:complexType name="VoucherResource">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:int" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoucherResource" nillable="true" type="tns:VoucherResource" />
  <xs:complexType name="ArrayOfVouchersUsedResource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VouchersUsedResource" nillable="true" type="tns:VouchersUsedResource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVouchersUsedResource" nillable="true" type="tns:ArrayOfVouchersUsedResource" />
  <xs:complexType name="VouchersUsedResource">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VouchersUsedResource" nillable="true" type="tns:VouchersUsedResource" />
  <xs:complexType name="ArrayOfPackageModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageModel" nillable="true" type="tns:PackageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageModel" nillable="true" type="tns:ArrayOfPackageModel" />
  <xs:complexType name="PackageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourierID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FromAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" type="xs:double" />
      <xs:element minOccurs="0" name="ReceiverFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderID" type="xs:int" />
      <xs:element minOccurs="0" name="StatusID" type="xs:int" />
      <xs:element minOccurs="0" name="ToAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:double" />
      <xs:element minOccurs="0" name="Width" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageModel" nillable="true" type="tns:PackageModel" />
  <xs:complexType name="DeliveryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Distance" type="xs:double" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryModel" nillable="true" type="tns:DeliveryModel" />
</xs:schema>