Server/WebClientMVC/Connected Services/SenderServiceReference1/SenderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SenderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50512/DeliveryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50512/DeliveryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50512/DeliveryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DeliveryService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISenderService_AddSender_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSender" />
  </wsdl:message>
  <wsdl:message name="ISenderService_AddSender_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSenderResponse" />
  </wsdl:message>
  <wsdl:message name="ISenderService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="ISenderService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ISenderService_AddApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:AddApplication" />
  </wsdl:message>
  <wsdl:message name="ISenderService_AddApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="ISenderService_GetAllApplications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllApplications" />
  </wsdl:message>
  <wsdl:message name="ISenderService_GetAllApplications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllApplicationsResponse" />
  </wsdl:message>
  <wsdl:message name="ISenderService_AddCourier_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCourier" />
  </wsdl:message>
  <wsdl:message name="ISenderService_AddCourier_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCourierResponse" />
  </wsdl:message>
  <wsdl:message name="ISenderService_DeleteApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteApplication" />
  </wsdl:message>
  <wsdl:message name="ISenderService_DeleteApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="ISenderService_ClearDB_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearDB" />
  </wsdl:message>
  <wsdl:message name="ISenderService_ClearDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearDBResponse" />
  </wsdl:message>
  <wsdl:message name="ISenderService_GetBalanceByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBalanceByUsername" />
  </wsdl:message>
  <wsdl:message name="ISenderService_GetBalanceByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBalanceByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="ISenderService_AddToBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToBalance" />
  </wsdl:message>
  <wsdl:message name="ISenderService_AddToBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="ISenderService_UseVoucher_InputMessage">
    <wsdl:part name="parameters" element="tns:UseVoucher" />
  </wsdl:message>
  <wsdl:message name="ISenderService_UseVoucher_OutputMessage">
    <wsdl:part name="parameters" element="tns:UseVoucherResponse" />
  </wsdl:message>
  <wsdl:message name="ISenderService_GetAllVouchers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVouchers" />
  </wsdl:message>
  <wsdl:message name="ISenderService_GetAllVouchers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVouchersResponse" />
  </wsdl:message>
  <wsdl:message name="ISenderService_GetAllUsedVouchers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsedVouchers" />
  </wsdl:message>
  <wsdl:message name="ISenderService_GetAllUsedVouchers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsedVouchersResponse" />
  </wsdl:message>
  <wsdl:message name="ISenderService_GetAllPackages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPackages" />
  </wsdl:message>
  <wsdl:message name="ISenderService_GetAllPackages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPackagesResponse" />
  </wsdl:message>
  <wsdl:message name="ISenderService_AddPackage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPackage" />
  </wsdl:message>
  <wsdl:message name="ISenderService_AddPackage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPackageResponse" />
  </wsdl:message>
  <wsdl:portType name="ISenderService">
    <wsdl:operation name="AddSender">
      <wsdl:input wsaw:Action="http://tempuri.org/ISenderService/AddSender" message="tns:ISenderService_AddSender_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISenderService/AddSenderResponse" message="tns:ISenderService_AddSender_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISenderService/GetAllUsers" message="tns:ISenderService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISenderService/GetAllUsersResponse" message="tns:ISenderService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/ISenderService/AddApplication" message="tns:ISenderService_AddApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISenderService/AddApplicationResponse" message="tns:ISenderService_AddApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllApplications">
      <wsdl:input wsaw:Action="http://tempuri.org/ISenderService/GetAllApplications" message="tns:ISenderService_GetAllApplications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISenderService/GetAllApplicationsResponse" message="tns:ISenderService_GetAllApplications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCourier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISenderService/AddCourier" message="tns:ISenderService_AddCourier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISenderService/AddCourierResponse" message="tns:ISenderService_AddCourier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/ISenderService/DeleteApplication" message="tns:ISenderService_DeleteApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISenderService/DeleteApplicationResponse" message="tns:ISenderService_DeleteApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearDB">
      <wsdl:input wsaw:Action="http://tempuri.org/ISenderService/ClearDB" message="tns:ISenderService_ClearDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISenderService/ClearDBResponse" message="tns:ISenderService_ClearDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBalanceByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/ISenderService/GetBalanceByUsername" message="tns:ISenderService_GetBalanceByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISenderService/GetBalanceByUsernameResponse" message="tns:ISenderService_GetBalanceByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddToBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/ISenderService/AddToBalance" message="tns:ISenderService_AddToBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISenderService/AddToBalanceResponse" message="tns:ISenderService_AddToBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UseVoucher">
      <wsdl:input wsaw:Action="http://tempuri.org/ISenderService/UseVoucher" message="tns:ISenderService_UseVoucher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISenderService/UseVoucherResponse" message="tns:ISenderService_UseVoucher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVouchers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISenderService/GetAllVouchers" message="tns:ISenderService_GetAllVouchers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISenderService/GetAllVouchersResponse" message="tns:ISenderService_GetAllVouchers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsedVouchers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISenderService/GetAllUsedVouchers" message="tns:ISenderService_GetAllUsedVouchers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISenderService/GetAllUsedVouchersResponse" message="tns:ISenderService_GetAllUsedVouchers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPackages">
      <wsdl:input wsaw:Action="http://tempuri.org/ISenderService/GetAllPackages" message="tns:ISenderService_GetAllPackages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISenderService/GetAllPackagesResponse" message="tns:ISenderService_GetAllPackages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPackage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISenderService/AddPackage" message="tns:ISenderService_AddPackage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISenderService/AddPackageResponse" message="tns:ISenderService_AddPackage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISenderService" type="tns:ISenderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddSender">
      <soap:operation soapAction="http://tempuri.org/ISenderService/AddSender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/ISenderService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddApplication">
      <soap:operation soapAction="http://tempuri.org/ISenderService/AddApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllApplications">
      <soap:operation soapAction="http://tempuri.org/ISenderService/GetAllApplications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCourier">
      <soap:operation soapAction="http://tempuri.org/ISenderService/AddCourier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteApplication">
      <soap:operation soapAction="http://tempuri.org/ISenderService/DeleteApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearDB">
      <soap:operation soapAction="http://tempuri.org/ISenderService/ClearDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalanceByUsername">
      <soap:operation soapAction="http://tempuri.org/ISenderService/GetBalanceByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToBalance">
      <soap:operation soapAction="http://tempuri.org/ISenderService/AddToBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UseVoucher">
      <soap:operation soapAction="http://tempuri.org/ISenderService/UseVoucher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllVouchers">
      <soap:operation soapAction="http://tempuri.org/ISenderService/GetAllVouchers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsedVouchers">
      <soap:operation soapAction="http://tempuri.org/ISenderService/GetAllUsedVouchers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPackages">
      <soap:operation soapAction="http://tempuri.org/ISenderService/GetAllPackages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPackage">
      <soap:operation soapAction="http://tempuri.org/ISenderService/AddPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SenderService">
    <wsdl:port name="BasicHttpBinding_ISenderService" binding="tns:BasicHttpBinding_ISenderService">
      <soap:address location="http://localhost:50512/DeliveryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>