Server/WebClientMVC/Connected Services/SenderServiceReference/DeliveryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50512/DeliveryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DeliveryService" />
  <xs:element name="AddSender">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DeliveryService" minOccurs="0" name="sender" nillable="true" type="q1:SenderResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSenderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DeliveryService" minOccurs="0" name="application" nillable="true" type="q2:ApplicationResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddApplicationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DeliveryService" minOccurs="0" name="GetApplicationsResult" nillable="true" type="q3:ArrayOfApplicationResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCourier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DeliveryService" minOccurs="0" name="courier" nillable="true" type="q4:SenderResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCourierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCourierResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>